/* trainer.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f2f2f2;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

a {
    color: red;
    text-decoration: none;
    margin-left: 10px;
}